<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">AssetManagement.Web</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-box-nav-menu" aria-hidden="true"></span> Assets
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dashboard">
                <span class="bi bi-speedometer2-nav-menu" aria-hidden="true"></span> Dashboard
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="organisationalobjectives">
                <span class="bi bi-bullseye-nav-menu" aria-hidden="true"></span> Organisational Objectives
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="activities">
                <span class="bi bi-person-workspace-nav-menu" aria-hidden="true"></span> Activities
            </NavLink>
        </div>
    </nav>
</div>
